# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
venv/
env/
ENV/

# Environment variables
.env

# Django
db.sqlite3
*.log
media/

# Static files (if collected)
staticfiles/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Migrations (optional)
# */migrations/*.py
# !*/migrations/__init__.py
session.db